/*start*/
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.logo-samer {
  width: 4rem;
  padding: 10px;
  padding-top: 5px; }

header.masthead {
  position: relative;
  background: url("../assets/img/img-1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }

.icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .icons .icons-item {
    max-width: 20rem; }
    .icons .icons-item .icons-icon {
      height: 7rem; }
      .icons .icons-item .icons-icon i {
        font-size: 4.5rem; }
    .icons .icons-item:hover .icons-icon i {
      font-size: 5rem; }

.showcase {
  width: 100%; }
  .showcase .showcase-text {
    padding: 3rem; }
  .showcase .showcase-img {
    width: 98%; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 17rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem; }
    header.masthead h1 {
      font-size: 3rem; }
  .showcase .showcase-text {
    padding: 7rem; }
  .showcase .showcase-img {
    width: 100%; } }
