/*start*/
//Variables

$gray-500: #adb5bd !default;
$gray-900: #212529 !default;


//Mixins
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin body-font {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

//body

body {

    @include body-font;
}

h1,
h2,
h3,
h5 {
    @include body-font;
    font-weight: 700;
}

//nav
.logo-samer {
    width: 4rem;
    padding: 10px;
    padding-top: 5px;

}

//header

header.masthead {
    position: relative;

    background: url('../assets/img/img-1.jpg') no-repeat center center;
    @include background-cover;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    h1 {
        font-size: 2rem;
    }
}

.icons {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .icons-item {
        max-width: 20rem;

        .icons-icon {
            height: 7rem;

            i {
                font-size: 4.5rem;
            }
        }

        &:hover {
            .icons-icon {
                i {
                    font-size: 5rem;
                }
            }
        }
    }
}

.showcase {
    width: 100%;

    .showcase-text {
        padding: 3rem;
    }

    .showcase-img {
        width: 98%;


    }
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .testimonial-item {
        max-width: 18rem;

        img {
            max-width: 17rem;
            box-shadow: 0px 5px 5px 0px $gray-500;
        }
    }
}

.call-to-action {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 3rem;
        }
    }

    .showcase {
        .showcase-text {
            padding: 7rem;
        }

        .showcase-img {
            width: 100%;


        }
    }

}